<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe House Project</title>
    <link rel="stylesheet" href="../content/css/abstract/all.min.css">
    <link rel="stylesheet" href="../content/css/abstract/bootstrap.min.css">
    <link rel="stylesheet" href="../content/css/style.css">
</head>
<body>
    
<header class="main-header">

    <nav class="navbar navbar-expand-lg py-2">
        <div class="container justify-content-around">
            <div class="one">
          <a class="navbar-brand" href="#">
            <img src="../content/assets/img/logo.png" alt="">
              <span>Cafe House</span>
            </a>
        </div>
        <div class="two">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">today special</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">contact</a>
              </li>
            </ul>
        </div>
          </div>
        </div>
    </div>
      </nav>
</header>

<script src="../content/js/abstract/bootstrap.bundle.min.js"></script>
<script src="../content/js/abstract/all.min.js"></script>
</body>
</html>


