<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe House Project (menu)</title>
    <link rel="stylesheet" href="../content/css/abstract/all.min.css">
    <link rel="stylesheet" href="../content/css/abstract/bootstrap.min.css">
    <link rel="stylesheet" href="../content/css/style.css">
</head>
<body>
    
<header class="main-header">

    <nav class="navbar navbar-expand-lg py-2">
        <div class="container justify-content-around">
            <div class="one">
          <a class="navbar-brand" href="#">
            <img src="../content/assets/img/logo.png" alt="">
              <span>Cafe House</span>
            </a>
        </div>
        <div class="two">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">today special</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">contact</a>
              </li>
            </ul>
        </div>
          </div>
        </div>
    </div>
      </nav>
</header>

<section class="menu">


<div class="container">

<div class="row">

<div class="col-md-9">
<h2 class="menu-heading">Variety of Menus</h2>
<h2>Cafe House</h2>
<p>This is free HTML5 website template from templatemo. Fndimentum rhoncus, sem quam semper libero,
sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
 lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae 
sapien ut libero venenatis faucibus. Ettiam sit amet orci eget eros faucibus tincidunt.</p>
<a class="read-more" href="#">read more</a>
</div>

<div class="col-md-3">
<div class="Image">
<img src="../content/assets/img/1.jpg" alt="">
</div>
</div>

</div>

</div>


<div class="Our-Menus">

<div class="container">
   <h2><img src="../content/assets/img/logo.png" alt="">Our Menus</h2>
  
  <div class="row ">
      <div class="col-md-4">
        <img id="test" src="../content/assets/img/vertical-menu-bg.png" alt="">
          <ul>
              <li> <a href="#">Affogato</a></li>
              <li> <a href="#">Caffè Americano</a></li>
              <li> <a href="#">Caffè latte</a></li>
              <li> <a href="#">Coffee milk</a></li>
              <li> <a href="#">Café mocha</a></li>
              <li> <a href="#">Cappuccino</a></li>
              <li> <a href="#">Espresso</a></li>
              <li> <a href="#">Iced coffee</a></li>
              <li> <a href="#">Instant coffee</a></li>
              <li> <a href="#">Mocha</a></li>
              <li> <a href="#">black coffee</a></li>
          </ul>
      </div> 
  
  
    <div class="col-md-8">
        <!-- card "1" -->
  <div class="col-md-12">
  <div class="my-card mb-4">
  <div class="row">
<div class="col-md-3">
  <img class="w-100" src="../content/assets/img/menu-1.jpg" alt="">
</div>

<div class="col-md-6">
  <h3>Americano 1</h3>
  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
  sit amet adipiscing sem neque. Red ipsum.
  </p>
</div>

<div class="col-md-3">
  <div class="product-price">
    <div class="circle">
   <a href="#"><span>$</span>30</a>
  </div>
  </div>

</div>

  </div>
 
</div>
  </div>
 
    
        <!-- card "2" -->
        <div class="col-md-12">
          <div class="my-card mb-4">
          <div class="row">
        <div class="col-md-3">
          <img class="w-100" src="../content/assets/img/menu-2.jpg" alt="">
        </div>
        
        <div class="col-md-6">
          <h3>Americano 2</h3>
          <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
          sit amet adipiscing sem neque. Red ipsum.
          </p>
        </div>
        
        <div class="col-md-3">
          <div class="product-price">
            <div class="circle">
           <a href="#"><span>$</span>20</a>
          </div>
          </div>
        
        </div>
        
          </div>
         
        </div>
          </div>   
  
          <!-- card "3" -->
          <div class="col-md-12">
            <div class="my-card mb-4">
            <div class="row">
          <div class="col-md-3">
            <img class="w-100" src="../content/assets/img/menu-3.jpg" alt="">
          </div>
          
          <div class="col-md-6">
            <h3>Americano 3</h3>
            <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
            sit amet adipiscing sem neque. Red ipsum.
            </p>
          </div>
          
          <div class="col-md-3">
            <div class="product-price">
              <div class="circle">
             <a href="#"><span>$</span>15</a>
            </div>
            </div>
          
          </div>
          
            </div>
           
          </div>
            </div>   
    
    <!-- card "4" -->
    <div class="col-md-12">
      <div class="my-card mb-4">
      <div class="row">
    <div class="col-md-3">
      <img class="w-100" src="../content/assets/img/menu-4.jpg" alt="">
    </div>
    
    <div class="col-md-6">
      <h3>Americano 4</h3>
      <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
      sit amet adipiscing sem neque. Red ipsum.
      </p>
    </div>
    
    <div class="col-md-3">
      <div class="product-price">
        <div class="circle">
       <a href="#"><span>$</span>25</a>
      </div>
      </div>
    
    </div>
    
      </div>
     
    </div>
      </div>   



 <!-- card "5" -->
 <div class="col-md-12 mb-4">
  <div class="my-card">
  <div class="row">
<div class="col-md-3">
  <img class="w-100" src="../content/assets/img/menu-5.jpg" alt="">
</div>

<div class="col-md-6">
  <h3>Americano 5</h3>
  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
  sit amet adipiscing sem neque. Red ipsum.
  </p>
</div>

<div class="col-md-3">
  <div class="product-price">
    <div class="circle">
   <a href="#"><span>$</span>45</a>
  </div>
  </div>

</div>

  </div>
 
</div>
  </div>   



  </div> 
  
  </div> 
</div>

</div> 



</section>












<script src="../content/js/abstract/bootstrap.bundle.min.js"></script>
<script src="../content/js/abstract/all.min.js"></script>
</body>
</html>

